<h1>New Task</h1>

<form (ngSubmit)="onSubmit()" #newTask="ngForm">
<div class="form-group">
  <label for="name">Name</label>  &nbsp;
  <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name"
       #name="ngModel"> 
</div>

  
  <label>Status</label>
  <br>
  <input type="radio" id = "statusTodo"  [(ngModel)]="model.status" name="status" value="todo"> To do
  <input type="radio" id = "statusDone"  [(ngModel)]="model.status" name="status" value="done"> Done

  &nbsp;

  <button type="submit" class="btn btn-success" [disabled]="!newTask.valid">Submit</button>

</form>
