<form (ngSubmit)="onSubmit()" #newTask="ngForm">
    <div class="container">
        <div class="example-container">
            <h2>New Task</h2>
            <br>
            <mat-form-field>
              <input  type="text" class="form-control" id="name"
              placeholder="Task Name"
              required
              [(ngModel)]="model.name" name="name"
              #name="ngModel" matInput >
            </mat-form-field>
        
            <mat-radio-group [(ngModel)]="model.status" name="status"> 
                <mat-radio-button color="primary" value="todo" name="status">To do</mat-radio-button>
                &nbsp;
                <mat-radio-button color="primary" value="done" name="status">Done</mat-radio-button>
            </mat-radio-group>
          </div>
    
          <br>
          <button [routerLink]="['/tasks']" mat-raised-button>Back</button>
          &nbsp;
          <button type="submit" mat-flat-button color="primary" [disabled]="!newTask.valid">Submit</button>
    
        </div>
    </form>

<!--

<h2>New Task</h2>

<form (ngSubmit)="onSubmit()" #newTask="ngForm">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name"
       #name="ngModel">
</div>

  
  <label>Status</label>
  <br>
  <input type="radio" id = "statusTodo"  [(ngModel)]="model.status" name="status" value="todo"> To do
  <input type="radio" id = "statusDone"  [(ngModel)]="model.status" name="status" value="done"> Done

  &nbsp;

  <button type="submit" class="btn btn-success" [disabled]="!newTask.valid">Submit</button>

</form>
-->